body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	width: 800px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	margin: 0 auto;
	font-size: 16px;
	padding-top: 32px;
}
.person__info {
	flex: 1 0 50%;
	padding-right: 32px;
	margin-bottom: 32px;
}
.person__contacts {
	flex: 1 0 50%;
	margin-bottom: 32px;
}
.person__details {
	flex: 0 1 100%;
}
.avatar {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-right: 16px;
	align-items: center;
}
.avatar__picture {
	border-radius: 50%;
	border: 32px solid #fff;
	transition: transform .8s ease-in-out;
}
.avatar__picture:hover {
	transform: rotate(180deg);
}
.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.contacts__name {
	font-size: 32px;
	color: #000;
	font-weight: 600;
}
.contacts__role {
	font-size: 19.2px;
	color: #000;
	font-weight: 600;
	margin-bottom: 32px;
}
.contacts__item {
	font-size: 16px;
	color: #000;
}
.contacts__title {
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.contacts__title:after {
	font-size: 16px;
	color: #000;
}
.contacts__link {
	font-size: 16px;
	color: gray;
}
.paragraph {
	font-size: 16px;
	color: #000;
	margin-bottom: 16px;
}
.paragraph_last {
	font-size: 16px;
	color: #000;
	padding-bottom: 48px;
}
@media screen and (max-width: 376px) {
    .person {
		flex-direction: column;
    }
	.avatar__picture {
		margin-left: 23px;
	}
	.person__info {
		padding-bottom: 32px;
	}
	.person__details {
		padding-left: 32px;
		padding-right: 32px;
	}
	.contacts__name {
		text-align: center;
	}

}
