body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	width: 800px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	margin: 0 auto;
	font-size: 16px;
	padding-top: 32px;
}
.person__info {
	flex: 1 0 50%;
	padding-right: 32px;
	margin-bottom: 32px;
}
.person__contacts {
	flex: 1 0 50%;
	margin-bottom: 32px;
}
.person__details {
	flex: 0 1 100%;
}
.avatar {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-right: 16px;
	align-items: center;
}
.avatar__picture {
	border-radius: 50%;
	border: 32px solid rgb(12, 212, 186);
	animation: scale 4s infinite;
}
@keyframes scale {
	0%{
	transform: scale(0.9); 
	opacity:0.5; 
	border:5px solid rgba(10, 216, 96, 0.644); 
	box-shadow:0px 0px 0px  3px rgba(10, 216, 96, 0.836); 
	}
	50%{
	transform: scale(1.2);
	opacity:1;
	border:8px solid  rgba(216, 249, 196, 0.247);
	box-shadow:0px 0px 0px  8px rgba(216, 249, 196, 0.938);
	}
	100%{
	transform: scale(0.9);
	opacity:0.5;
	border:5px solid rgba(216, 249, 196, 0.39);
	box-shadow:0px 0px 0px  3px rgba(216, 249, 196, 0.89);
	}
	}
.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.contacts__name {
	color: transparent;
    -webkit-text-stroke: 1px rgba(220, 224, 181, 0.884);
    position: relative;
	font-size: 45px;
	color: #000;
	font-weight: 600;
}
.contacts__name:after{
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(189, 197, 141, 0.918);
    animation: contacts__name 2s ease-in-out infinite forwards;
}
@keyframes contacts__name{
    0%, 100% {
        clip-path: polygon(0 66%, 11% 59%, 18% 51%, 26% 46%, 35% 41%, 48% 44%, 55% 54%, 63% 63%, 76% 60%, 82% 50%, 92% 48%, 100% 53%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 66%, 8% 74%, 17% 77%, 28% 70%, 35% 57%, 48% 44%, 56% 39%, 69% 41%, 75% 47%, 84% 60%, 92% 61%, 100% 53%, 100% 100%, 0% 100%);
    }
}
.section {
    height: 100vh;
    font-size: 80px;
    font-weight: bold;
    transition: all 200ms;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    display: grid;
    place-items: center;
    z-index: 1;
    cursor: pointer;
    position: relative;
    padding: 20px;
}
.contacts__role {
	font-size: 19.2px;
	color: #000;
	font-weight: 600;
	margin-bottom: 32px;
}
.contacts__item {
	font-size: 16px;
	color: #000;
}
.contacts__title {
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.contacts__title:after {
	font-size: 16px;
	color: #000;
}
.contacts__link {
	font-size: 16px;
	color: gray;
}
.paragraph {
	font-size: 18px;
	color: #000;
	margin-bottom: 16px;
}
.paragraph_last {
	font-size: 18px;
	color: #000;
	padding-bottom: 48px;
}
@media screen and (max-width: 376px) {
    .person {
		flex-direction: column;
    }
	.avatar__picture {
		margin-left: 23px;
	}
	.person__info {
		padding-bottom: 32px;
	}
	.person__details {
		padding-left: 32px;
		padding-right: 32px;
	}
	.contacts__name {
		text-align: center;
	}

}
